SERVER_PORT=3000
PORT=3000
MONGODB_URI=mongodb://mongo:27017/jetmind
DATABASE_PROTOCOL=mongodb
DATABASE_URL=mongo:27017/jetmind
DATABASE_USERNAME=
DATABASE_PASSWORD=
TOKEN_SECRET=changeme
TOKEN_EXPIRES=14440
CORS_ORIGIN=*
FRONTEND_URL=
MAX_UPLOAD_SIZE=5242880
BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT=
HOST=
SMTP_PORT=26
SMTP_SECURE=false
SMTP_REJECT_UNAUTHORIZED=true
USER_EMAIL=
USER_PASSWORD=
